@font-face {
    font-family: "Kiddosy";
    src: url("/public/fonts/fankids/FanKids.otf") format("opentype"), url("/public/fonts/fankids/FanKids.ttf") format("truetype");
}

.category-page {
    background: black;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: "Kiddosy", sans-serif;
}

.thumbnails-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
}

.thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    transition: background-color 0.3s;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    color: black;
    position: relative;
    overflow: hidden;
}

.thumbnail:hover::before {
    opacity: 1;
    transform: translateY(0);
}

.thumbnail.disabled {
    opacity: 0.7;
    border: 1px solid black;
    background-color: #ffffff80 !important;
    color: #ffffff;
}

.thumbnail.disabled::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.6) 5%, rgba(0, 0, 0, 0.9) 100%);
    pointer-events: none;
}

.thumbnail img {
    width: 90%;
    height: 90%;
}

.thumbnail-details {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 100px;
}

.initial {
    font-size: 6em;
}

.thumbnail-details h6 {
    font-size: 1em;
}

.thumbnail:hover {
    animation: shake 0.5s 1;
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 2px black;
    opacity: 1;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

.breadcrumbs {
    padding: 40px;
    color: white;
}

.float-right {
    float: right;
}

.selected {
    padding-left: 40px;
    padding-bottom: 40px;
}

.selected a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.selected a:hover {
    text-decoration: underline;
}

.slide-up {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    color: white;
    animation: slideUp 4s linear;
    background-color: transparent;
    transform-origin: left top;
    font-size: 10em;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.display-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    animation: explode 3s linear forwards;
    background-color: transparent;
    font-size: 7em;
    opacity: 1;
    z-index: 100;
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes explode {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translate(-50%, -50%) scale(2);
    }
    100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}

.count {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
}

.achievement-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.achievement {
    width: 200px;
    height: 200px;
}

/* ===================================================================================== */
/* 📲 📞 IPAD */
@media only screen and (min-device-width: 380px) and (max-device-width: 767px) {
    .thumbnail {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 1366px) and (orientation: landscape) {
    .thumbnail {
        width: 200px;
        height: 200px;
    }
}

/* ===================================================================================== */
/* 📲 📞 PHONE */
@media only screen and (min-device-width: 380px) and (max-device-width: 767px) {
    .thumbnails-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }

    .thumbnail {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s;
        width: 120px;
        height: 120px;
        border-radius: 0px;
    }

    .thumbnail-details h6 {
        font-weight: bold;
        font-size: 10px;
    }

    .initial {
        font-size: 3em;
    }

    .thumbnail img {
        width: 90%;
        height: auto;
    }
}

/* ===================================================================================== */
/* 📲 📞 iPhone 5s */

@media only screen and (min-device-width: 200px) and (max-device-width: 380px) {
    .thumbnails-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .thumbnail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: 100%;
        border-radius: 0;
        padding: 0 15px;
    }

    .thumbnail-details {
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
    }

    .initial {
        font-size: 5em;
    }
}
